<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3>Add User</h3>
</div>
<div class="modal-body">
	<form class="form form-horizontal">
		<fieldset>
			<legend><input type="radio" id="select-existing-user" name="select-user" value="existing" checked onclick="$('.select-existing-user').slideDown();$('.select-new-user').slideUp();"> Existing User</legend>
			
			<div class="control-group select-existing-user">
				<label class="control-label" for="existing-user">Username</label>
				<div class="controls">
					<select name="existing-user" id="existing-user">
						<option value="">-- select --</option>
						{{#users}}<option value="{{userid}}">{{username}}</option>{{/users}}
					</select>
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend><input type="radio" id="select-new-user" name="select-user" value="new" onclick="console.log($('.select-new-user'));$('.select-new-user').slideDown();$('.select-existing-user').slideUp();"> New User</legend>
			
			<div class="control-group select-new-user" style="display:none;">
				<label class="control-label" for="new-user">Username</label>
				<div class="controls">
					<input type="text" name="new-user" id="new-user" value="" placeholder="Username"/><br>
				</div>
			</div>
			
			<div class="control-group select-new-user" style="display:none;">
				<label class="control-label" for="new-user-password">Password</label>
				<div class="controls">
					<input type="text" name="new-user-password" id="new-user-password" value="" />
				</div>
			</div>
			
			<div class="control-group select-new-user" style="display:none;">
				<label class="control-label" for="new-user-targettype">Contact Type</label>
				<div class="controls">
					<select name="new-user-targettype" id="new-user-targettype">
						<option value="">-- select --</option>
						{{#targettypes}}<option value="{{id}}">{{name}}</option>{{/targettypes}}
					</select>
				</div>
			</div>
			
			<div class="control-group select-new-user" style="display:none;">
				<label class="control-label" for="new-user-targetid">Contact ID</label>
				<div class="controls">
					<input type="text" name="new-user-targetid" id="new-user-targetid" value="" />
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Alerts</legend>
			
			<div class="control-group">
				<label class="control-label" for="new-user-sendalerts">Send Alerts</label>
				<div class="controls">
					<input name="new-user-sendalerts" id="new-user-sendalerts" type="checkbox" value="1">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="new-user-threshold">Threshold</label>
				<div class="controls">
					<input name="new-user-threshold" id="new-user-threshold" value="10">
					<span class="help-inline">Number of times a single error should occur in a 15 minute period to trigger an alert.</span>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<a href="#" class="btn" data-dismiss="modal" onclick="$('#modal').modal('hide'); return false;">Close</a>
	<a href="#" class="btn btn-primary">Add</a>
</div>