<ul class="nav nav-tabs">
  {{#applications}}
  <li{{#active}} class="active"{{/active}}><a href="{{#applicationurl}}{{key}}{{/applicationurl}}">{{name}}</a></li>
  {{/applications}}
  {{#hasmoreapplications}}
  <li class="dropdown{{#moreapplicationsactive}} active{{/moreapplicationsactive}}">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">More Applications<b class="caret"></b></a>
    <ul class="dropdown-menu">
    {{#moreapplications}}<li{{#active}} class="active"{{/active}}><a href="{{#applicationurl}}{{key}}{{/applicationurl}}">{{name}}</a></li>{{/moreapplications}}
    </ul>
  </li>
  {{/hasmoreapplications}}
</ul>
{{> fragment-pagination}}
<table class="table table-striped error-table">
  <thead>
    <tr>
      <th>Message</th>
	  <th>&nbsp;</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {{#errors}}
    <tr{{#active}} class="alert-info"{{/active}}>
      <td class="message"><div><a href="{{#errorurl}}{{message}}{{/errorurl}}">{{message}}</a></div></td>
      <td class="sparkline">{{#sparkline}}{{data}}{{/sparkline}}</td>
	  <td class="total">{{total}}</td>
    </tr>
    {{/errors}}
  </tbody>
</table>
{{> fragment-pagination}}