{{#log}}
<table class="table log-detail-table">
  <tr><th>Application:</th><td><a href="{{applicationlogpage}}">{{application}}</a></td>
  {{#machinename}}<tr><th>Machine:</th><td>{{machinename}}</td></tr>{{/machinename}}
  {{#instancename}}<tr><th>Instance:</th><td>{{instancename}}</td></tr>{{/instancename}}
  {{#sessionid}}<tr><th>Session ID:</th><td><a href="{{sessionpage}}">{{sessionid}}</a></td></tr>{{/sessionid}}
  {{#message}}<tr><th>Message:</th><td><strong>{{#type-error}}<a href="{{applicationsummarypage}}">{{/type-error}}{{message}}{{#type-error}}</a>{{/type-error}}</strong></td></tr>{{/message}}
  {{#browser}}<tr><th>Browser:</th><td>{{browser}}</td></tr>{{/browser}}
  <tr><th>DateTime:</th><td>{{datetime}}</td></tr>
  {{#host}}<tr><th>Host:</th><td>{{host}}</td></tr>{{/host}}
  {{#httpreferer}}<tr><th>HTTP Referer:</th><td>{{httpreferer}}</td></tr>{{/httpreferer}}
  {{#scriptname}}<tr><th>Path:</th><td><a href="http://{{host}}{{scriptname}}?{{querystring}}">{{scriptname}}?{{querystring}}</a></td></tr>{{/scriptname}}
  {{#remoteaddress}}<tr><th>Remote Address:</th><td><a href="{{ippage}}">{{remoteaddress}}</a></td></tr>{{/remoteaddress}}
  {{#bot}}<tr><th>Bot:</th><td>{{bot}}</td></tr>{{/bot}}
  {{#version}}{{#string}}<tr><th>Version</td><td>{{string}}</td></tr>{{/string}}{{/version}}
  {{#farcry}}<tr><th>FarCry:</th><td>{{string}} ({{svndate}})</td></th></tr>{{/farcry}}
  {{#engine}}<tr><th>Engine:</th><td>{{string}}</td></th></tr>{{/engine}}
</table>

<h2>Details</h2>
{{#render}}log-detail-{{logtype}}|log-detail-default{{/render}}
{{/log}}
